<div class="centered-content">
  <div class="content-manager-container">
    <div class="sidebar">
      <h1 class="title has-text-primary">List</h1>

      <div class = "list-menu">

        <a [routerLink]="['/']">home</a><br>
        <a [routerLink]="['/photos']">photos</a>

      </div>

    </div>
    <div class = about-container>
      <h1 class="title has-text-primary"> Content</h1>
      <div class = inside>
        <div>Die Webseite soll dazu dienen seinen Fortschritt jeglicher Hinsicht dokumentieren zu können. Für die Demonstration ist in der Sidebar eine Kategorie 'photos' zu finden, welcher einen kleinen Einblick in mein Interesse an die Fotografie wiedergeben soll.
          <p> Für die Zukunft wird es auch möglich sein weitere Kategorien einzufügen und dessen Bilder o.Ä. in der Datenbank abzugelegen. </p></div>
      </div>
    </div>

  </div> </div>


<router-outlet></router-outlet>
